
@media (max-width: 990px){

    .menu-icon{
        display: block;
        padding-right: 50px;

    }
    .list{
        display: none;
    }
}
@media (max-width: 600px){
    .heroButtons{
        flex-direction: column;
        padding-top: 82px;
        padding-bottom: 70px;
    
    }
    .heroButtons > .btn:first-child {
        margin-right: 0px; 
        margin-bottom: 28px;
    }
    .title{
        font-size: 45px;
        padding-top: 60px;

    }
    .main-home > p {
        margin-top: 20px;
        font-size: 20px;}
    
}
@media (max-width: 450px){
    .cards__item__pic-wrap{
        width: 240px;
    }
    .btn--large {
        padding: 10px 22px;
        font-size: 13px;
    }
    .title{
        font-size: 37px;

    }
    .heroButtons {
        flex-direction: column;
        padding-top: 26px;
        padding-bottom: 26px;
    }
    .cards > h1 {
        font-size: 25px;
    }
    .slide-img {
        margin: auto;
        height: 480px !important;
    }
    .todo-form {
        padding: 40px;
    }
}