*{
    padding: 0;
    margin: 0;
}
:root {
    --primary: #fff;
  }
  .box{
    margin-top: 79px;

  }
li{
    list-style: none;
}
.link{
    text-decoration: none;
    color: #2b2928;
    font-family: sans-serif;
    font-size: 18px;
    transition: .2s;
    padding: 3px 15px;
}
.list{
    display: flex;
    justify-content: center;
    padding-right: 50px;

}
.list > li{
    margin-left: 15px;
   

}
.navbar{
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,85,121,1) 0%, rgba(114,219,240,1) 30%);
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;

}
.active-navbar{
     background-image: linear-gradient(to right, #dadada, #c8c7d7, #b4b5d3, #9da3d1, #8393ce, #7194cf, #5c95d0, #4296ce, #4ba4cb, #62b1c7, #7ebcc3, #9bc6c3);
}
.active-link{
    border-bottom: 2px solid;
  

}
.link:hover{
    color: white;

}
.count{
    color: #FFD012;

}
.load{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: aliceblue;
}
.fa-spin{
    font-size: 43px;
    color: red;
}
.main-home{
    background: url("../../bg-img/img-home.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.logo{
  padding-left: 50px;

}
.logo-img{
    width: 150px;
    display: block;
}
.logo-img > img{
  width: 100%;
}
.menu-icon{
    cursor: pointer;
    display: none;
    
}
.menu-icon > i{
    font-size: 28px ;
    transition: all 1s ease-out;
}
.noActive-list{
  
    opacity: 0;
    position: absolute;
    top: 78px;
    background: black;
    width: 0%;
    right: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.3s ease-out;
}
.active-list{
 
    position: absolute;
    top: 78px;
    background: black;
    width: 100%;
    right: 0;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    transition: all 0.5s ease-out;
}
.mob-link{
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-bottom: 1px solid;
    padding: 15px 0px;
    transition: all 0.3s ease-out;
}


  .btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
  }
  
  .btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
  .heroButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 152px;
  }
 
  .heroButtons > .btn:first-child{
    margin-right: 15px;
  }
  .title{
    color: white;
    text-align: center;
    padding-top: 180px;
    font-size: 65px;
    font-family: sans-serif;
    text-transform: uppercase;
  }
  .main-home > p{
    color: white;
    text-align: center;
    margin-top: 26px;
    font-size: 30px;
    font-family: sans-serif;
  }
 
.cards {
  padding: 4rem;
  background: #fff;
}

.cards > h1{
  text-align: center;
  font-family: sans-serif;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
  justify-content: center;

}

.cards__item {
  display: flex;
  margin: 0 1rem;
  border-radius: 10px;
  flex-direction: column;
  max-width: 330px;
  width: 100%;

}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
  font-family: sans-serif;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 22px 0px 30px;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
  font-family: sans-serif;
}

.cards__items {
  display: flex;
  flex-wrap: wrap;
}
.footer{
  background-color: #b2dbff;
  padding: 45px 17px;

}
.inner-footer{
  color: #0d88f4;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;

}
.inner-footer > h2{
  padding-bottom: 25px;

}
/* To do Lists Contacts Page */

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}


.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color:#f85959;
}

.todo-input::placeholder {
  color:#f85959;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
  font-size: 18px;
  font-family: sans-serif;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}
.todo-list{
  margin-top: 145px;

}
.listGroup{
  width: 80%;
  margin: auto;
  margin-top: 15px;
}
.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
